<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Контакты</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <div class="container">
                    <div class="header__row">
                        <h2 class="header__title">ИРИНА ГОРЛАЧЕВА</h1>
                            <div class="logo">
                                <p class="logo__text">Практический психолог во&nbsp;Владивостоке</p>
                                <div class="logo__img">
                                    <img src="img/head-logo.jpg" alt="логотип">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button class="btn nav-button" aria-label="Меню"></button>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">услуги</a>
                            <ul>
                                <li>
                                    <a href="single-services.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="trainings.html">тренинги</a>
                            <ul>
                                <li>
                                    <a href="single-trainings.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="articles.html">статьи</a>
                        </li>
                        <li>
                            <a href="about.html">о себе</a>
                        </li>
                        <li>
                            <a href="feedback.html">обратная связь</a>
                        </li>
                        <li>
                            <a href="contacts.html">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- конец header -->

        <main>
            <section class="articles">
                <div class="container">
                    <h1>Статьи</h1>
                    <div class="articles__wrapper">
                        <ul class="articles__list">
                            <li class="articles__item">
                                <div class="articles__img">
                                    <img src="img/1.jpg" alt="">
                                </div>
                                <div class="articles__item-text">
                                    <h3>О ДУХЕ…</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium facere
                                        inventore
                                        optio
                                        architecto dolor asperiores maiores fugit incidunt autem, quod mollitia corporis
                                        expedita
                                        reprehenderit vel itaque eaque odit tenetur similique numquam illo? Eius
                                        quisquam,
                                        veritatis
                                        odio a
                                        aperiam alias reiciendis.</p>
                                    <a href="#" class="link">читать далее >></a>
                                </div>
                            </li>
                            <li class="articles__item">
                                <div class="articles__img">
                                    <img src="img/1.jpg" alt="">
                                </div>
                                <div class="articles__item-text">
                                    <h3>О ДУХЕ…</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium facere
                                        inventore
                                        optio
                                        architecto dolor asperiores maiores fugit incidunt autem, quod mollitia corporis
                                        expedita
                                        reprehenderit vel itaque eaque odit tenetur similique numquam illo? Eius
                                        quisquam,
                                        veritatis
                                        odio a
                                        aperiam alias reiciendis.</p>
                                    <a href="#" class="link">читать далее >></a>
                                </div>
                            </li>
                        </ul>
                        <div id="articles">
                            <input class="search input input--search" type="text" class="search" placeholder="Поиск">
                            <h4>Статьи на сайте</h4>
                            <ul class="main-articles-list-search list">
                                <li class="main-articles-item-search">
                                    <a class="link article" href="#">О ДУХЕ…</a>
                                </li>
                                <li class="main-articles-item-search">
                                    <a class="link article" href="#">О ДУШЕ…</a>
                                </li>
                                <li class="main-articles-item-search">
                                    <a class="link article" href="#">О ДУХОВНОМ РАЗВИТИИ…</a>
                                </li>
                                <li class="main-articles-item-search">
                                    <a class="link article" href="#">О СЕКСУАЛЬНОЙ ЭНЕРГИИ…</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- начало футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <ul class="socials">
                        <li>
                            <a href="mailto:IVG7177@gmail.com"><i class="icon-mail"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-phone"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-skype"></i></a>
                        </li>
                    </ul>
                    <div class="footer__text">
                        <p>©2023 - Копирование материалов сайта без разрешения запрещено</p>
                        <p> <a href="http://freelancervl.ru" target="_blank" rel="noopener noreferrer">Разработка и
                                поддержка</a></p>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/list.min.js"></script>
    <script src="script.js"></script>
</body>

</html>

<!-- .icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-vk:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */ -->