<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Контакты</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <div class="container">
                    <div class="header__row">
                        <h2 class="header__title">ИРИНА ГОРЛАЧЕВА</h1>
                            <div class="logo">
                                <p class="logo__text">Практический психолог во&nbsp;Владивостоке</p>
                                <div class="logo__img">
                                    <img src="img/head-logo.jpg" alt="логотип">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button class="btn nav-button" aria-label="Меню"></button>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">услуги</a>
                            <ul>
                                <li>
                                    <a href="single-services.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">тренинги</a>
                            <ul>
                                <li>
                                    <a href="single-trainings.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="articles.html">статьи</a>
                        </li>
                        <li>
                            <a href="about.html">о себе</a>
                        </li>
                        <li>
                            <a href="feedback.html">обратная связь</a>
                        </li>
                        <li>
                            <a href="contacts.html">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- конец header -->

        <main>
            <div class="container">
                <section class="contacts">
                    <h1>Контакты</h1>
                    <ul>
                        <li>
                            <a class="link" href="mailto:IVG7177@gmail.com"><i
                                    class="icon-mail"></i><span>IVG7177@gmail.com</span></a>
                        </li>
                        <li>
                            <a class="link" href="tel:+79841958973"><i class="icon-phone"></i><span>Телефон: +7 908
                                    448-71-77</span></a>
                        </li>
                        <li>
                            <a class="link" href="tel:+2587177"><i class="icon-phone"></i><span>Телефон:
                                    258-71-77</span></a>
                        </li>
                        <li>
                            <a class="link" href="tel:+ +7 984 195-89-73"><i class="icon-whatsapp"></i><span>WhatsApp:
                                    +7 984
                                    195-89-73</span></a>
                        </li>
                        <li>
                            <a class="link" href="#"><i class="icon-instagram"></i><span>Instagram:
                                    @igorlacheva</span></a>
                        </li>
                        <li>
                            <a class="link" href="#"><i class="icon-skype"></i><span>Skype: gorlachovairina</span></a>
                        </li>
                    </ul>
                    <p>Место проведения индивидуальных консультаций и семинарских занятий во Владивостоке: ул.
                        Лейтенанта Шмидта, 17, кабинет № 40.</p>
                    <div class="map">
                        <iframe
                            src="https://yandex.ru/map-widget/v1/?scroll=false&amp;um=constructor%3ABUlrFKnadWKS6zyVl91Juoj_mXz3HtOC"
                            frameborder="0" allowfullscreen="true" width="100%" height="500px"></iframe>
                    </div>
                    <p>Место проведения тренингов согласовывается после определения даты тренинга.</p>
                    <figure>
                        <img src="img/winwow_view.jpg" alt="Elephant at sunset">
                        <figcaption>Вид из окна</figcaption>
                    </figure>
                </section>
            </div>
        </main>

        <!-- начало футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <ul class="socials">
                        <li>
                            <a href="mailto:IVG7177@gmail.com"><i class="icon-mail"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-phone"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-skype"></i></a>
                        </li>
                    </ul>
                    <div class="footer__text">
                        <p>©2023 - Копирование материалов сайта без разрешения запрещено</p>
                        <p> <a href="http://freelancervl.ru" target="_blank" rel="noopener noreferrer">Разработка и
                                поддержка</a></p>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/list.min.js"></script>
    <script src="script.js"></script>
</body>

</html>

<!-- .icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-vk:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */ -->