<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Контакты</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <div class="container">
                    <div class="header__row">
                        <h2 class="header__title">ИРИНА ГОРЛАЧЕВА</h1>
                            <div class="logo">
                                <p class="logo__text">Практический психолог во&nbsp;Владивостоке</p>
                                <div class="logo__img">
                                    <img src="img/head-logo.jpg" alt="логотип">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button class="btn nav-button" aria-label="Меню"></button>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">услуги</a>
                            <ul>
                                <li>
                                    <a href="single-services.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="trainings.html">тренинги</a>
                            <ul>
                                <li>
                                    <a href="single-trainings.html">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="articles.html">статьи</a>
                        </li>
                        <li>
                            <a href="about.html">о себе</a>
                        </li>
                        <li>
                            <a href="feedback.html">обратная связь</a>
                        </li>
                        <li>
                            <a href="contacts.html">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- конец header -->

        <main>
            <div class="container">
                <section class="services">
                    <h1>Услуги</h1>
                    <h2>Тренинги:</h2>
                    <p>Тренинги рассчитаны на 2 дня, время проведения с 10.00 до 18.00, количество участников 10 -15
                        человек.<br>
                        В программе тренингов телесно-ориентированные упражнения, игры, танцы с высвобождением
                        заблокированных сил, обсуждение результатов, осознание перспектив.<br>
                        Дата тренингов определяется по мере формирования групп.</p>
                    <ul class="services__list">
                        <li class="services__item">
                            <a href="#">
                                <div class="services__item-img">
                                    <img src="img/redparus.jpg" alt="фото">
                                </div>
                                <p>Деньги</p>
                            </a>
                        </li>
                        <li class="services__item">
                            <a href="#">
                                <div class="services__item-img">
                                    <img src="img/redparus.jpg" alt="фото">
                                </div>
                                <p>Время и пространство</p>
                            </a>
                        </li>
                        <li class="services__item">
                            <a href="#">
                                <div class="services__item-img">
                                    <img src="img/redparus.jpg" alt="фото">
                                </div>
                                <p> Эмоциональная свобода</p>
                            </a>
                        </li>
                        <li class="services__item">
                            <a href="#">
                                <div class="services__item-img">
                                    <img src="img/redparus.jpg" alt="фото">
                                </div>
                                <p>Танец моей жизни</p>
                            </a>
                        </li>
                        <li class="services__item">
                            <a href="#">
                                <div class="services__item-img">
                                    <img src="img/redparus.jpg" alt="фото">
                                </div>
                                <p>Деньги</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="services__list-lessons">
                        <li class="item-lessons">
                            <div class="item-lessons__img">
                                <img src="img/gallery-5.jpg" alt="">
                            </div>
                            <div class="item-lessons__text">
                                <h3>Семинарские занятия в группах личностного роста:</h3>
                                <p>Курс рассчитан на длительное время. Занятия проходят 1 раз в неделю в течение 2 – 3
                                    лет в сформированных группах по 5-6 человек.</p>
                                <a href="single-services.html" class="link">читать далее >></a>
                            </div>
                        </li>
                        <li class="item-lessons">
                            <div class="item-lessons__img">
                                <img src="img/1.jpg" alt="">
                            </div>
                            <div class="item-lessons__text">
                                <h3>Индивидуальное консультирование:</h3>
                                <p>Занимает по времени 2 – 2,5 часа. Количество встреч от глубины и серьезности
                                    проблемы, от понимания самого человека необходимости внутренней работы.</p>
                                <a href="#" class="link">читать далее >></a>
                            </div>
                        </li>

                    </ul>
                </section>
            </div>
        </main>

        <!-- начало футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <ul class="socials">
                        <li>
                            <a href="mailto:IVG7177@gmail.com"><i class="icon-mail"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-phone"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-skype"></i></a>
                        </li>
                    </ul>
                    <div class="footer__text">
                        <p>©2023 - Копирование материалов сайта без разрешения запрещено</p>
                        <p> <a href="http://freelancervl.ru" target="_blank" rel="noopener noreferrer">Разработка и
                                поддержка</a></p>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/list.min.js"></script>
    <script src="script.js"></script>
</body>

</html>

<!-- .icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-vk:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */ -->