<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/baguetteBox.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Тренинги</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <div class="container">
                    <div class="header__row">
                        <h2 class="header__title">ИРИНА ГОРЛАЧЕВА</h1>
                            <div class="logo">
                                <p class="logo__text">Практический психолог во&nbsp;Владивостоке</p>
                                <div class="logo__img">
                                    <img src="img/head-logo.jpg" alt="логотип">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button class="btn nav-button" aria-label="Меню"></button>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">услуги</a>
                            <ul>
                                <li>
                                    <a href="#">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="trainings.html">тренинги</a>
                            <ul>
                                <li>
                                    <a href="#">Семинарские занятия</a>
                                </li>
                                <li>
                                    <a href="#">Сеансы Релаксации</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="articles.html">статьи</a>
                        </li>
                        <li>
                            <a href="#">о себе</a>
                        </li>
                        <li>
                            <a href="about.html">обратная связь</a>
                        </li>
                        <li>
                            <a href="contacts.html">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- конец header -->

        <main>
            <section class="descriptions">
                <div class="container">
                    <h1>Тренинги</h1>
                    <p>Можем все знать, все понимать, но не уметь сделать.
                        То есть возможности есть у всех, способности у многих, непосредственно умение — мало у кого.
                        Тренинги для этого и предназначены, чтобы научиться делать то, что мы знаем или
                        научиться делать по-новому то, что мы делали неэффективно. То есть учимся новым навыкам
                        поведения.
                        Тренинги всегда интересны, всегда неожиданны, всегда приводят к открытию внутреннего потенциала,
                        всегда меняют жизнь к лучшему.</p>
                    <p>Тренинги рассчитаны на 2 дня, время проведения с 10.00 до 18.00, количество участников 10-15
                        человек.</p>
                    <p>В программе тренингов телесно ориентированные игры, упражнения, танцы с высвобождением
                        заблокированных сил, обсуждением результатов, осознанием перспектив.</p>

                </div>
            </section>
            <section class="gallery-block">
                <div class="container">
                    <h2 class="visually-hidden">Галерея</h2>
                    <ul class="gallery-block__list gallery">
                        <li class="gallery-block__item">
                            <a href="img/gallery-1.jpg">
                                <img src="img/gallery-1.jpg" alt="фото">
                            </a>
                        </li>
                        <li class="gallery-block__item">
                            <a href="img/gallery-2.jpg">
                                <img src="img/gallery-2.jpg" alt="фото">
                            </a>
                        </li>
                        <li class="gallery-block__item">
                            <a href="img/gallery-3.jpg">
                                <img src="img/gallery-3.jpg" alt="фото">
                            </a>
                        </li>
                        <li class="gallery-block__item">
                            <a href="img/gallery-4.jpg">
                                <img src="img/gallery-4.jpg" alt="фото">
                            </a>
                        </li>
                        <li class="gallery-block__item">
                            <a href="img/gallery-4.jpg">
                                <img src="img/gallery-5.jpg" alt="фото">
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="training">
                <div class="container">
                    <h3>Список Тренингов</h2>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="training__wrapper swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <a href="#">
                                        <img src="img/about-300x200.jpg" alt="фото">
                                        <h3>Танец моей жизни</h3>
                                        <time>12.12.2020</time>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, id! Lorem
                                            ipsum
                                            dolor, sit amet consectetur adipisicing elit. Quia itaque labore alias
                                            assumenda
                                            omnis iusto dolores illum delectus esse similique!</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="#">
                                        <img src="img/1.jpg" alt="">
                                        <h3>Танец моей жизни</h3>
                                        <time>12.12.2020</time>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, id! Lorem
                                            ipsum
                                            dolor, sit amet consectetur adipisicing elit. Quia itaque labore alias
                                            assumenda
                                            omnis iusto dolores illum delectus esse similique!</p>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="#">
                                        <img src="img/2.jpg" alt="">
                                        <h3>Танец моей жизни</h3>
                                        <time>12.12.2020</time>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, id! Lorem
                                            ipsum
                                            dolor, sit amet consectetur adipisicing elit. Quia itaque labore alias
                                            assumenda
                                            omnis iusto dolores illum delectus esse similique!</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </section>
        </main>

        <!-- начало футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <ul class="socials">
                        <li>
                            <a href="mailto:IVG7177@gmail.com"><i class="icon-mail"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-phone"></i></a>
                        </li>
                        <li>
                            <a href="tel:+ +7 984 195-89-73"><i class="icon-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-skype"></i></a>
                        </li>
                    </ul>
                    <div class="footer__text">
                        <p>©2023 - Копирование материалов сайта без разрешения запрещено</p>
                        <p> <a href="http://freelancervl.ru" target="_blank" rel="noopener noreferrer">Разработка и
                                поддержка</a></p>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/list.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="script.js"></script>
</body>

</html>